<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min Vue Features</title>
    <style>
    .beauty-button {
        padding: 5px 10px;
        line-height: 32px;
        font-size: 24px;
        background-color: lightskyblue;
    }
    </style>
</head>
<body>
    <div id="app">
        <h1>Features in Vue</h1>
        <h2>差值表达式</h2>
        <h3>hello: {{ msg }}</h3>
        <h3>{{ count }}</h3>
        <h2>v-text</h2>
        <div v-text="msg"></div>
        <div v-text="count"></div>
        <p>这种取值或者运算的结果值要如何处理：</p>
        <div v-text="person.name"></div>
        <div v-text="person.age"></div>
        <h2>v-model</h2>
        <div class="border">
            <input type="text" v-model="msg" />
            <input type="number" v-model="count" />
        </div>
        <div class="border">
            <p>这种取值或者运算的结果值要如何处理：</p>
            <label for="name">person.name</label>
            <input type="text" v-model="person.name" />
            <label for="age">person.age</label>
            <input type="number" v-model="person.age" />
        </div>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        <button class="beauty-button" v-on:click="clickHandler">click me to trigged the <code lang="javascript">v-on:click</code> handler, clicked: {{clickCount}}</button>
    </div>
    <script src="./js/observer.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/dependency.js"></script>
    <script src="./js/watcher.js"></script>
    <script src="./js/compiler.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: 'hello vue world!',
                clickCount: 0,
                count: 100,
                person: {
                    name: 'huiquan',
                    age: 19
                },
                rawHtml: '<span style="color: red;">this should be red.</span>'
            },
            methods: {
                clickHandler(e) {
                    this.person.name = 'ClickHandler On'
                    this.person.age++
                    this.clickCount++
                }
            },
        })
    </script>
</body>
</html>